
body {
    display: flex;
    height: 100vh;
    background-color: #f8f9fa;
}
.sidebar {
    width: 250px;
    background: #212529;
    padding: 20px;
    color: #fff;
}
.content {
    flex-grow: 1;
    padding: 20px;
}
.section-title {
    margin-top: 20px;
    margin-bottom: 20px;
}
.card {
    margin-bottom: 20px;
}
.card-deck {
    margin-bottom: 20px;
}
.card-body {
    text-align: center;
}