/* Estilos adicionales */
body {
    background: url(img/bg.jpg) no-repeat center center fixed; 
    background-size: cover;
    font-family: Helvetica;
}

h1, h2, h3 {
    text-align: justify; 
    color: azure;
}

.intro-container {
    max-width: 100%; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    padding: 20px; /* Espacio alrededor del contenido */
    box-sizing: border-box; /* Incluye el padding en el ancho total del contenedor */
    text-align: justify; /* Justificar el texto dentro del contenedor */
}

.contacto-info {
    margin-top: 20px; /* Espacio entre el texto y la información de contacto */
}
.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto asegura que la imagen se ajuste sin distorsión */
}
