body {
    background: url(img/bg.jpg) no-repeat center center fixed; 
    background-size: cover;
    font-family: Cambria;
}

.navbar {
    background-color: #24243e;
    border-radius: 4px;
}

.navbar .btn {
    color: white; 

}
